/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/* --- media queries ------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 1600px){
    #body-wrapper, nav#main {
        /*margin: 1% 15% 0 15%;*/
    }
}

@media screen and (max-width: 1400px){
    #body-wrapper, nav#main {
        /*margin: 1% 10% 0 10%;*/
    }
}

@media screen and (max-width: 1200px){
    #body-wrapper, nav#main {
        /*margin: 1% 5% 0 5%;*/
    }
}

@media screen and (max-width: 1100px){
    #body-wrapper, nav#main {
        /*margin: 1% 0 0 0;*/
    }
}

@media screen and (max-width: 1000px){
}

@media screen and (max-width: 800px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 640px){
    /* to avoid the adjustment of fonts on iOS devices you should keep this line */
    * { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
}

@media screen and (max-width: 600px){
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 400px){
}

@media screen and (max-width: 320px){
}


/* --- iPad --------------------------------------------------------------------------------------------------------- */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape){
}


/* --- iPhone 4(S) retina ------------------------------------------------------------------------------------------- */

@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5){

}


/* --- iPhone ------------------------------------------------------------------------------------------------------- */

@media screen and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 1), screen and (max-device-width: 640px) and (device-pixel-ratio: 1){
}


/* --- print (optional) --------------------------------------------------------------------------------------------- */

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}